
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
#root{
  padding: 20px;

}
/* .sidebar{
  position: relative;
  hr{
    margin-left: 200px;
    width: 1px;  
    height: 100vh; 
    background-color: black; 
    border: none; 
  }
}
.App-sidebar{
  position: absolute;
  top: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  
  h1{
    font-family: dancing script;
    font-size: 3rem;
  }
  .icon{
    color: blue;
  }
  
}
.sidebar-menu{
  display: flex;
  flex-direction: column;
}
.sidebar-home{
  position: absolute;
  top: 70px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
  h1{
    font-family: Inter;
    font-size: 1rem;
  }
}
.sidebar-archived{
  position: absolute;
  top: 110px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
  h1{
    font-family: Inter;
    font-size: 1rem;
  } 
} */